<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Stock Market Recognition</h1>
<h2>Welcome to dev mode!</h2>
<form method="post" action="/fit_model">
        <div class="parameters">
        <label for="prediction_days">Prediction Days:</label>
        <input id="prediction_days" name="prediction_days" type="number" value="10" required>

        <label for="lstm_units">LSTM Units:</label>
        <input id="lstm_units" name="lstm_units" type="number" value="50" required>

        <label for="dropout">Dropout:</label>
        <input id="dropout" name="dropout" type="number" step="0.01" value="0.2" required>

        <label for="epoch">Epoch:</label>
        <input id="epoch" name="epoch" type="number" value="25" required>

        <label for="batch_size">Batch Size:</label>
        <input id="batch_size" name="batch_size" type="number" value="32" required>
    </div>
    <div class="stock">
        <select name="stocks">
            {% for stock_ticker in stock_tickers %}
            <option value="{{ stock_ticker }}">{{ stock_ticker }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="stock_info">
        <p>Current price: {{ current_price }} $</p>
        <p>Predicted price: {{ predicted_price }} $</p>
    </div>
    <div class="mse">
        <p>Mean Squared Error (MSE): {{ mse }}</p>
    </div>
    <input type="submit" value="Update Parameters" name="update_parameters"/>
</form>
</body>
<footer>
    <p>Author: Przemysław Lis</p>
    <p>Email: przemyslaw_lis@outlook.com</p>
    <p class="disclaimer">
        Disclaimer: The stock recommendations are for academic purposes only. Do not rely on it for real money.
        I am not responsible for any decisions made based on the information contained on this website.
    </p>
</footer>
</html>
