<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Stock Market Recognition</h1>
<h2>Hi, {{ username }}</h2>
<form method="post" action="/user/{{ username }}">
    <div class="user_data">
        <p>balance: {{ balance }} $</p>
    </div>
    <div class="stock">
        <select name="stocks">
            {% for stock_ticker in stock_tickers %}
            <option value="{{ stock_ticker }}">{{ stock_ticker }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select" name="submit_stock_ticker"/>

    </div>
    <div class="stock_info">
        <p>Current price: {{ current_price }} $</p>
        <p>Predicted price: {{ predicted_price }} $</p>
    </div>
    <div class="recommendation">
        <p>Recommendation: {{ recommendation }}</p>
    </div>
    <div class="amount">
        <label for="amount">Amount:</label>
        <input id="amount" name="amount" type="number" value="1.0" required>
    </div>
    <input type="submit" value="Buy" name="Buy"/>
    <input type="submit" value="Sell" name="Sell"/>

    <input type="submit" value="dev_mode" name="dev_mode"/>

    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Błąd</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage">Błąd, spróbuj ponownie!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS + Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Wyświetl modal, jeśli istnieje komunikat flash
        document.addEventListener('DOMContentLoaded', function () {
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                let message = "{{ messages[0][1] }}";  // Pobierz pierwszy komunikat
                document.getElementById('errorMessage').textContent = message;
                let modal = new bootstrap.Modal(document.getElementById('errorModal'));
                modal.show();
            {% endif %}
            {% endwith %}
        });
    </script>
</form>
</body>
<footer>
    <p>Author: Przemysław Lis</p>
    <p>Email: przemyslaw_lis@outlook.com</p>
    <p class="disclaimer">
        Disclaimer: The stock recommendations are for academic purposes only. Do not rely on it for real money.
        I am not responsible for any decisions made based on the information contained on this website.
    </p>
</footer>
</html>