<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Recognition</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Stock Market Recognition</h1>
<h2>Demo Wallet</h2>
<form method="post" action="/">
    <div class="login_text">
        <label for="username">Username:</label>
        <input id="username" name="username" required>
    </div>
    <div class="login_text">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
    </div>

    <input type="submit" value="Login" name="Login"/>
    <input type="submit" value="Register" name="Register"/>
</form>
</body>
<footer>
    <p>Author: Przemysław Lis</p>
    <p>Email: przemyslaw_lis@outlook.com</p>
</footer>
</html>